{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Johan W Louw - Email</title>
	<link rel="stylesheet" type="text/css" href="{% static 'chronicle/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <style>
    label {
      display: block;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
	{% include 'navguide.html' %}

	<div class = "text-block" style="padding-top:50px">
		<h2>Contact Form</h2>

		<form id="contactForm" method="post" action="{% url 'create_email' %}">
			{% csrf_token %}
			<label for="name">Email Adress:</label>
			<input type="text" id="name" name="sender" required>
					
			<label for="subject">Subject:</label>
			<input type="subject" id="subject" name="subject" required>
		
			<label for="message">Message:</label>
			<textarea id="message" name="message" rows="4" required style = "width:800px"></textarea>
		
			<label for="date">Date:</label>
			<input type="text" id="date" name="date" readonly>
			<br>
			<button type="submit">Submit</button>
		</form>
  </form>
  	<a href="mailto:johanwlouw@gmail.com?subject=Your%20Subject&body=Your%20Message">johanwlouw@gmail.com</a>
</div>

</body>
<script>
    // Auto-generate current date
    document.getElementById('date').value = new Date().toISOString().slice(0, 10);

    // Submit event listener
    document.getElementById('contactForm').addEventListener('submit', function(event) {
    event.preventDefault();

    // Get form data
    const formData = new FormData(event.target);

    // Use the fetch API to send data to the server
    fetch("{% url 'create_email' %}", {
        method: 'POST',
        body: formData,
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();  // assuming the server returns JSON
    })
    .then(data => {
        // Handle the response data
        console.log(data);
        alert('Message submitted! Sent to my Email & saved in my database. Thank you.');
    })
    .catch(error => {
        // Handle errors
        console.error('There was a problem with the fetch operation:', error);
        alert('Failed to submit message.');
    });
});
    
</script>
