<ul style = "z-index: 1;padding-top: 10px;">
    <li><a href="/chronicle/index/">Home</a></li>
    <li><a href="#">About</a>
        <ul>
            <li><a href="/chronicle/intro/">Introduction</a></li>
            <li><a href="/chronicle/projects/">Projects</a></li>
            <li><a href="/chronicle/certifications/">Certifications</a></li>
            <li><a href="/chronicle/other/">Other</a></li>
            <li><a href="/chronicle/login/">Data Entry</a></li>

        </ul>
    </li>
    <li><a href="#">Contacts</a>
        <ul>
            <li><a href="/chronicle/email/">Email</a></li>
            <li><a href="/chronicle/businesscard/">Businesscard</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100012247098888" target="_blank">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/johan-louw-662845299" target="_blank">Linkedln</a></li>
            <li><a href="https://www.upwork.com/freelancers/~01c7b4bc9ebddceb19" target="_blank" >Upwork.com</a></li>
            <li><a href="https://www.freelancer.com/u/johanwlouw" target="_blank">Freelancer.com</a></li>
            
        </ul>
    </li>

    <li><a href="/chronicle/services/">Services</a></li>
    <li><a href="/chronicle/blog/">Blog</a></li>
    <li><a href="/chronicle/training/">Training</a></li>
</ul>
<br><br><br>